@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-linen-100: theme("colors.satin-linen.100");
  --bg-linen-100-0: theme("colors.satin-linen.100 / 0%");
  --bg-comet-900: theme("colors.comet.900");
  --bg-comet-900-0: theme("colors.comet.900 / 0%");
  --md: theme("screens.md");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f7f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.md\:bg-gradient-horizontal-edges {
  background-color: var(--bg-linen-100);
}

@media (prefers-color-scheme: dark) {
  .md\:bg-gradient-horizontal-edges {
    background-color: var(--bg-comet-900);
  }
}

@media screen and (min-width: 768px) {
  .md\:bg-gradient-horizontal-edges {
    background-image: linear-gradient(
      to right,
      var(--bg-linen-100-0) 0%,
      var(--bg-linen-100) 8%,
      var(--bg-linen-100) 92%,
      var(--bg-linen-100-0) 100%
    );
  }
}

@media screen and (min-width: 768px) and (prefers-color-scheme: dark) {
  .md\:bg-gradient-horizontal-edges {
    background-image: linear-gradient(
      to right,
      var(--bg-comet-900-0) 0%,
      var(--bg-comet-900) 8%,
      var(--bg-comet-900) 92%,
      var(--bg-comet-900-0) 100%
    );
    background-color: 0;
  }
}
